.app {
  margin: auto;
}

.content {
  position: relative;
}

.header {
  position: relative;
  width: 100vw;
  z-index: 5;
  max-height: 130px;
  background-color: #222;
  padding: 5px;
  top: 0;
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    left: 0;
  }
  .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    // padding: 5px 0 10px 0;
  }
  .nav-list {
    position: absolute;
    right: 0;
    display: inline-block;
    color: #FFF;
    @include vertCenter;
    li {
      display: inline-block;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
}

.app-intro {
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
